.DS_Store

# dependencies
node_modules/

# builds
dist/
build/
.next/
out/
**/*.tsbuildinfo

# turborepo
.turbo/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env (do not commit secrets)
.env
.env.*
!.env.example

# coverage
coverage/

# misc
.eslintcache
.pnpm-store/

# safeguard to enforce only pnpm lock file commit
# safeguard to enforce only pnpm lock file commit
**-lock.json
**/*.lock
!/pnpm-lock.yaml
